body 
{
	margin: 0;
	background-color: #000000;
}

ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	background-color: #222222;
	position: fixed;
	height: 100%;
	overflow: auto;
}

li a 
{
	text-align: center;
	display: block;
	color: white;
	padding: 20% 20%;
	text-decoration: none;
}

li a.active 
{
	background-color: #000000;
	color: white;
}

li a:hover:not(.active)
{
	background-color: #555;
	color: white;
}

.main-body
{
	color:#C5A5C5;
	margin-left:20%;
	padding:1px 16px;
	height:1000px;
}

.main-header
{
	text-align: center;
}